PORT=8610
SESSION_SECRET=CAMBIA_ESTA_CLAVE_LARGA_Y_ALEATORIA
ADMIN_USER=WAZOWSKI
ADMIN_PASSWORD=CAMBIA_LA_CLAVE_DEL_ADMIN
ALFA_PASSWORD=CAMBIA_LA_CLAVE_DE_ALFA
BRAVO_PASSWORD=CAMBIA_LA_CLAVE_DE_BRAVO
CHARLIE_PASSWORD=CAMBIA_LA_CLAVE_DE_CHARLIE
DELTA_PASSWORD=CAMBIA_LA_CLAVE_DE_DELTA
